body {
	margin:0;
	padding:0;
}
article {
	margin-bottom:4em;
	overflow:hidden;
}
header {
	color:#fff;
	cursor:default;
	height:4.75em;
	line-height:4.75em;
	position:absolute;
	width:100%;
	z-index:10000;
}
h1 {
	color:#777;
	font:300 4em/1.3 Dosis,Arial,Sans-serif;
	margin:0;
}
h2 {
	color:#a5a9ad;
	font:300 2.6em/1.2 DosisLight,Arial,Sans-serif;
	margin-bottom:1em;
}
h5 {
	color:rgba(165,165,165,1);
	font:300 1.15em/1.2 "Arimo",Arial,sans-serif;
}
.header-h1 {
	color:#fff;
	height:inherit;
	line-height:inherit;
	margin:4em 0 0;
	padding:0px;
	text-align:center;
}
.header-h1:before {
	content:'';
	padding-top:16em;
}
.headline h1 {
	font:300 4em/1.3 Dosis,Arial,Sans-serif;
	margin-bottom:1em;
	padding-top:3em;
	text-align:center;
}
article p,.comments {
	color:rgb(113,112,112);
	font-size:0.9em;
	line-height:1.33;
}
.panel h3 {
	color:inherit;
}
.fineprint {
	font-size:84%;
	line-height:1.25;
	margin:0;
}
li.search-result {
	padding-left:1.5em;
}
.upper,.panel-heading .upper {
	color:rgba(165,165,165,1);
	font:600 1.35em/1.2 "Arimo",Arial,sans-serif;
	margin-top:0.5em;
	text-transform:uppercase;
}
.abstract {
	color:rgba(76,76,76,0.66);
	font:600 2em/1.4 "Abel",Arial,sans-serif;
	text-transform:uppercase
}
.tagline {
	color:#fff;
	font:300 2em/1.4 Dosis,Arial,Sans-serif;
	height:inherit;
	margin:0 0 6em;
	padding:0;
	text-align:center;
}
.purple {
	background-color:#eee;
	padding-bottom:5em;
}
.dark {
	background-color:#1E2832;
	background-size:cover;
	color:rgba(255,255,255,0.75);
	padding-top:1em;
}
.dark,.dark h1,.dark h2,.dark h3,.dark h4,.dark h5 {
	color:rgba(255,255,255,0.75);
}
.dark-form,input[type="text"].dark-form,input[type="email"].dark-form,textarea.dark-form:focus {
	background-color:rgba(255,255,255,0.05);
	border-color:transparent;
	color:inherit;
}
.post {
	color:#fff;
	padding:4em 0 2em;
	margin-bottom:2em;
}
.post h1,.post h5,.post p {
	color:rgba(255,255,255,0.75);
}
.light {
	padding-bottom:3em;
}
.post-head {
	height:174px;
	overflow:hidden;
}
.feature-panel {
	background-color:#fff;
	max-height:300px;
	overflow:hidden;
	padding:0;
}
.feature-content {
	padding:1em;
}
article.feature-panel h2,article.feature-panel h2 a {
	color:#555;
	font:500 1.62em/1.15 Dosis,DosisLight,Arial,Sans-serif;
	text-transform:uppercase;
}
.media {
	background-color:rgba(238,238,238,0.25);
	margin:1em 0 1em;
	padding:0.5em;
}
.media.left {
	margin:0 1em 1em 0;
}
.wide {
	border:1px solid rgba(240,240,240,1);
	margin:0 0 2em;
}
.sidebar {
	color:#777;
	margin:1.125rem 0 2rem;
}
.sidebar p,.sidebar h4 {
	color:inherit;
	line-height:1.3;
}
.sidebar p {
	font-size:94%;
}
.panel {
	background-color:transparent;
	border-color:rgba(238,238,238,1);
	color:inherit;
}
.social {
	color:#a5a9ad;
	font-size:3em;
	margin:0 0.25em;
	padding:0 0.5em;
	border:1px solid #a5a9ad;
}
.social a {
	color:inherit;
}
.container {
	padding-top:2.2em;
}
.blogarchive {
	padding:7em 0 4em;
}
.blog-data,.blog-data p {
	color:#777;
	font-size:94%;
	line-height:1.5;
}
.list-group {
}
.list-group p {
	color:#777;
	font-size:0.9em;
	margin:0;
}
.list-group-item {
	background-color:#fff;
	border-bottom:1px solid rgba(165,165,165,1);
	margin-bottom:2em;
	padding:1em 0.5em 2em;
}
.list-group-item-heading {
	color:rgba(165,165,165,1);
	font:600 1.35em/1.2 "Arimo",Arial,sans-serif;
	margin-top:0.5em;
}
.meta {
	color:#a5a9ad;
	font:200 0.9em/1.1 Arial,Sans-serif;
	margin-top:0.5em;
}
.date {
	color:#a5a9ad;
	font:200 0.75em/1.1 Arial,Sans-serif;
	text-align:right;
}
.search-box,input[type=search] {
	background:transparent url('images/find.png') no-repeat scroll 95% 50%/ 16px auto;
	box-shadow: rgba(14,14,12,1) 2px 2px 3px inset;
	transition: background-color 1s ease-in-out;
}
.search-box:hover {
	background-color:rgba(255,255,255,0.9);
}


.icon-key { background-color: #fff; padding: 0.5em; }
.icon-key dt { float: left;  clear: both; padding-right: 1em;   }
.icon-key dd { color: #000; margin-left: 1em; margin-bottom: 0.5em; }
